<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soda machine</title>
</head>
<body>
<h1>WELCOME TO SODA MACHINE</h1>
<br/><br/>
<div class="table1">
    <table border="1">
        <tr>
            <th>__</th>
            <th th:each="i: ${type}" th:text="${i.name()}"></th>
        </tr>
        <tr>
            <td>Price</td>
            <td th:each="i: ${type}" th:text="${i.val + ' VND'}"></td>
        </tr>
        <tr>
            <td>In stock</td>
            <td th:text="${coka <= 0 ? 'Sold out': coka}"></td>
            <td th:text="${pepsi <= 0 ? 'Sold out': pepsi}"></td>
            <td th:text="${soda <= 0 ? 'Sold out': soda}"></td>
        </tr>
    </table>
</div>


<h1>Order</h1>
<form action="#" th:action="@{/order}" th:object="${order}" method="post">
    <div class="input1">
        <p style="display: inline;">Type:</p>
        <select style="display: inline;" th:field="*{type}">
            <option th:each="i: ${type}" th:value="${i.name()}" th:text="${i.name()}">
            </option>
        </select>
    </div>
    <div class="input1">
        <p style="display: inline;">Quantity:</p>
        <input style="display: inline;" type="number" th:field="*{quantity}"/>
    </div>
    <div class="input1">
        <p style="display: inline;">Money:</p>
        <input style="display: inline;" type="number" th:field="*{money}"/>
    </div>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<h1 th:text="${message}"></h1>
<style>
    body {
        text-align: center;
    }
    .table1 {
        margin-left: 40%;
    }
    div {
        margin-top: 20px;
    }
</style>
</body>
</html>


